<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Voice Command Example</title>
    <meta charset="utf-8">
    <base href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body ng-controller="Ctrl">

      <div ng-clock>

          <h1>Exemplo Angular Easy Voice, diga : "Ok google" depois "boa tarde".</h1>

          <button ng-click="init()">Começar</button>
          <button ng-click="stop()">Parar</button>

      </div>

      <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

      <script type="text/javascript">
          angular.module('app', ['angular-easy-voice'])
            .controller('Ctrl', function($scope, EasyVoice){

              EasyVoice.onresult = function(text){
                  console.log('saida: ', text);
              }

              EasyVoice.addCommand('boa tarde', function(){
                  EasyVoice.reproduce('Boa tarde, o dia está lindo hoje', 'pt-BR');
              })

              EasyVoice.addWord(["Gumga", "Papadi"]);

              EasyVoice.setTranslate({
                  speakNow: 'Fale agora',
                  notUnderstand : 'Não entendi.',
                  tryAgain : 'Tente novamente.',
                  checkMicrophone: 'Verifique seu microphone.',
                  listening: 'Ouvindo...'
              });

              $scope.init = function(){
                  EasyVoice.initWatch('Ok Google', {
                      lang: 'pt-BR',
                      debug: true
                  }, false);
              }

              $scope.stop = function(){
                  EasyVoice.stopWatch();
              }

            });
      </script>

      <script type="text/javascript" src="dist/EasyVoice.min.js"></script>

  </body>
</html>
